﻿@page

@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>

            <ul class="right hide-on-med-and-down">
                <li><a href="#" onclick="logout()" class="waves-effect waves-light btn-small blue-grey darken-3">Sign out</a></li>
            </ul>
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active teal-text text-darken-2" href="#Users">Users <small onclick="getUsers()"><i class="material-icons">refresh</i></small></a></li>
        <li class="tab col s2"><a class="teal-text text-darken-2" href="#Clients">Clients <small onclick="getClients()"><i class="material-icons">refresh</i></small></a></li>
        <li class="tab col s2"><a class="teal-text text-darken-2" href="#Contacts">Contacts <small onclick="getContacts()"><i class="material-icons">refresh</i></small></a></li>
        <li class="tab col s2"><a class="teal-text text-darken-2" href="#Meetings">Meetings <small onclick="getMeetings()"><i class="material-icons">refresh</i></small></a></li>
        <li class="tab col s2"><a class="teal-text text-darken-2" href="#Tickets">Tickets <small onclick="getTickets()" ><i class="material-icons">refresh</i></small></a></li>
        <div class="indicator blue-grey" style="z-index:1"></div>
      </ul>
    </div>
    <div id="Users" class="col s12">
        <br><hr /><br>
        <table class="responsive-table centered col s12">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="UsersOutPut">
        </table>
    </div>
    <div id="Clients" class="col s12">
        <br><hr /><br>
        <table class="responsive-table centered col s12">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DNI</th>
                    <th>WebSite</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Sector</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="ClientsOutPut">
        </table>
    </div>
    <div id="Contacts" class="col s12">
        <br><hr /><br>
        <table class="responsive-table centered col s12">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Position</th>
                    <th>Client</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="ContactsOutPut">
        </table>
    </div>
    <div id="Meetings" class="col s12">
       <br><hr /><br>
        <table class="responsive-table centered col s12">
            <thead>
            <tr>
                <th>Title</th>
                <th>Day and time</th>
                <th>Is Virtual?</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="MeetingsOutPut">
        </table>
    </div>
    <div id="Tickets" class="col s12">
        <br><hr /><br>
        <table class="responsive-table centered col s12">
            <thead>
            <tr>
                <th>Title</th>
                <th>Detail</th>
                <th>User</th>
                <th>State</th>
                <th>Client</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="TicketsOutPut">
        </table>
    </div>
</div>
<br><br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="~/js/select.js"></script>
<script>
        $( document ).ready(function() {
            validateSession();
        });
            function validateSession(){
                debugger;
                if(localStorage.getItem("token")==""||localStorage.getItem("token")==null){
                    window.location.replace("http://localhost:5000/login");
                }
        }

    function logout(){
        debugger;
        localStorage.clear();
        window.location.replace("http://localhost:5000/login");
    }
</script>