@page

@{
    ViewData["Title"] = "Login Page";
}
<br>
<br>

<div class="container">
    <div class="row">
        <br>
        <br>
        <div class="col s2">
    
        </div>
        <div class="col s10">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title">Login</span>
                        <div class="row">
                            <div class="grey-text text-lighten-5 input-field col s12">
                            <input id="username_login" type="text" class="grey-text text-lighten-5 validate">
                            <label  class="grey-text text-lighten-5" for="username_login">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="grey-text text-lighten-5 input-field col s12">
                            <input id="password_login" type="password" class="grey-text text-lighten-5 validate">
                            <label  class="grey-text text-lighten-5" for="password_login">Password</label>
                            </div>
                        </div>
                        <div class="card-action">
                            <button onclick="login()" style="color:darkslategrey" class="grey lighten-5 btn waves-effect waves-light" type="submit" name="action">Sign in
                                <i style="color:darkslategrey" class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/session.js"></script>

<script>
        $( document ).ready(function() {
            validateSession();
        });
            function validateSession(){
                debugger;
                if(localStorage.getItem("token")==""||localStorage.getItem("token")==null){
                    
                }else{
                    window.location.replace("http://localhost:5000/");
                }
        }
</script>