<form action="" method="POST" class="form-horizontal" role="form">
      <div class="form-group">
        <legend>Form title</legend>
      </div>

      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">

          <input type="text" name="" id="state_name" class="form-control" value="" required="required" pattern="" title="">

        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="button" onclick="saveState()" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<div class="container col s12">
    <div class="row">
        <div class="col s6">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="statesTable">
                </tbody>
            </table>
        </div>
        <div class="col s6">

        </div>
    </div>
</div>

<button type="button" id="getStates" onclick="getStates()" class="waves-effect waves-light btn">Get States</button>